* {
	font-family : Courier, sans-serif;
	background-color: black;
	color: #0FFF50;
}

.rps-header {
	text-align: center;
	margin: 3vh auto 1vh auto;
	white-space: nowrap;
	overflow: hidden;
	animation: type 2.5s steps(120, end);
	width: min(95vw, 500px);
}

@keyframes type {
	from {width: 0;}
}

.button-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 3vh;
}

.button-card {
	min-width: 150px;
	width: min(275px, 30vw);
	aspect-ratio: 1 / 1;
	flex: 0 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 2vh;
	align-items: center;
	border: 4px dashed #0FFF50;
}

.button.rock {
	width: 100px;
	min-height: 100px;
	flex: 0 0 100px;
	background-image: url(../images/rock.svg);
	z-index: 2;
}

.button.paper {
	width: 100px;
	min-height: 100px;
	flex: 0 0 100px;
	background-image: url(../images/paper.svg);
	z-index: 2;
}

.button.scissors {
	width: 100px;
	min-height: 100px;
	flex: 0 0 100px;
	background-image: url(../images/scissors.svg);
	z-index: 2;
}

.card-desc {
	padding: 0;
	margin: 0 auto;
	font-size: 1.5em;
}

body p {
	text-align: center;
}