* {
	font-family : Courier, sans-serif;
	background-color: black;
	color: #0FFF50;
}

.rps-header {
	text-align: center;
	margin: 3vh auto 1vh auto;
	white-space: nowrap;
	overflow: hidden;
	font-size: 24px;
	animation: type 2.5s steps(120, end);
	width: min(95vw, 500px);
}

@keyframes type {
	from {width: 0;}
}

.button-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 3vh;
}

.button-card {
	min-width: 150px;
	width: min(275px, 30vw);
	aspect-ratio: 1 / 1;
	flex: 0 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 2vh;
	align-items: center;
	border: 4px dashed #0FFF50;
}

@keyframes selectChoice {
	0% {transform: scale(1);}
	30% {transform: scale(1.03);}
	80% {transform: scale(0.99);}
	100% {transform: scale(1);}
}

.button-card.chosen {
	animation-name: selectChoice;
	animation-duration: 1s;
	animation-timing-function: ease-in;
}

.logo.comp-choice {
	animation-name: compSelect;
	animation-duration: 1s;
	animation-timing-function: ease-in;
}

@keyframes compSelect {
	0% {transform:rotate(0deg);}
	13% {transform: rotate(10deg);}
	26% {transform: rotate(0deg);}
	39% {transform: rotate(-3deg);}
	50% {transform:rotate(0deg);}
	65% {transform: rotate(5deg);}
	80% {transform: rotate(0deg);}
	95% {transform: rotate(-1deg);}
	100% {transform:rotate(0deg);}
}

.button.rock {
	width: 100px;
	min-height: 100px;
	flex: 0 0 100px;
	z-index: 2;
}

.button.paper {
	width: 100px;
	min-height: 100px;
	flex: 0 0 100px;
	z-index: 2;
}

.button.scissors {
	width: 100px;
	min-height: 100px;
	flex: 0 0 100px;
	z-index: 2;
}

.card-desc {
	padding: 0;
	margin: 0 auto;
	font-size: 1.5em;
}

body p {
	text-align: center;
}